<h2>Sign Up</h2>

  <form action="/signup" method="POST">

    <label for="user_email">Email:</label>
    <input type="text" name="user[user_email]" id="user_email" />

    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="password" />

    <input type="submit" value="Sign Up"/>
  </form>
