<h2> Find a Recipe by Main Ingredient </h2>

<form method="GET" action= "/searchresult">
<label for="site-search">Enter a main ingredient:</label>
<input type="search" name="main"
placeholder="chicken" aria-label="Search through site content">

<input type= "submit" value= "Search">
</form>
