<h2>Search the whole Recipe Box!</h2>

<form method="GET" action= "/searchresult">
<label for="site-search">Enter an Ingredient:</label>
<input type="search" name="main"
placeholder="example: chicken" >

<input type= "submit" value= "Search">
</form>
