body {
  font-family: Geneva;
}

div {
  background-image: url(/images/recipe_cards.jpg);
  background-position: 100%;
  color: indigo;
  text-align: center;
  padding: 20px;
  font-family: Courier New;
  font-size: 22px;
}

nav {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border: none;
  background-color: indigo;
}

nav ul {
  display: table-row;
  margin: 12px;
}

nav li {
  display: table-cell;
  margin: 0;
  align: center;
}

nav a {
  font-family: Geneva;
  color: white;
  font-size: 18px;
}

h2, h3, p {
  font-family: Geneva;
}

input {
  font-family: Geneva;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input, label {
    margin: .4rem 0;
}

ul {
  list-style: square;
  display: inline-block;
  margin-right: 0.2rem;
}
